# Gradle files
AndroidApplication/.gradle/
AndroidApplication/build/
AndroidApplication/.idea/caches
AndroidApplication/.idea/libraries
AndroidApplication/.idea/modules.xml
AndroidApplication/.idea/workspace.xml
AndroidApplication/.idea/navEditor.xml
AndroidApplication/.idea/assetWizardSettings.xml


# Local configuration file (sdk path, etc)
AndroidApplication/local.properties

# Log Files
AndroidApplication/*.log

# Android Studio Navigation editor temp files
AndroidApplication/.navigation/

# Android Studio captures folder
AndroidApplication/captures/

#Services

Services/GraphQLService/node_modules
Services/gRPCService/node_modules

Services/AirQualityAPI/.vscode
Services/AirQualityAPI/.vs

# Build results
Services/AirQualityAPI/*/[Dd]ebug/
Services/AirQualityAPI/*/[Dd]ebugPublic/
Services/AirQualityAPI/*/[Rr]elease/
Services/AirQualityAPI/*/[Rr]eleases/
Services/AirQualityAPI/*/x64/
Services/AirQualityAPI/*/x86/
Services/AirQualityAPI/*/build/
Services/AirQualityAPI/*/bld/
Services/AirQualityAPI/*/[Bb]in/
Services/AirQualityAPI/*/[Oo]bj/
Services/AirQualityAPI/*/[Oo]ut/
Services/AirQualityAPI/*/msbuild.log
Services/AirQualityAPI/*/msbuild.err
Services/AirQualityAPI/*/msbuild.wrn
