# Gradle files
/AndroidApplication/.gradle/
/AndroidApplication/build/
/AndroidApplication/.idea/caches
/AndroidApplication/.idea/libraries
/AndroidApplication/.idea/modules.xml
/AndroidApplication/.idea/workspace.xml
/AndroidApplication/.idea/navEditor.xml
/AndroidApplication/.idea/assetWizardSettings.xml

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Local configuration file (sdk path, etc)
/AndroidApplication/local.properties

# Log Files
/AndroidApplication/*.log

# Android Studio Navigation editor temp files
/AndroidApplication/.navigation/

# Android Studio captures folder
/AndroidApplication/captures/

#Services

/Services/GraphQLService/node_modules
/Services/gRPCService/node_modules

/Services/gRPCService/GatewayService/.vscode
/Services/gRPCService/GatewayService/.vs

# Build results
/Services/gRPCService/GatewayService/*/[Dd]ebug/
/Services/gRPCService/GatewayService/*/[Dd]ebugPublic/
/Services/gRPCService/GatewayService/*/[Rr]elease/
/Services/gRPCService/GatewayService/*/[Rr]eleases/
/Services/gRPCService/GatewayService/*/x64/
/Services/gRPCService/GatewayService/*/x86/
/Services/gRPCService/GatewayService/*/build/
/Services/gRPCService/GatewayService/*/bld/
/Services/gRPCService/GatewayService/*/[Bb]in/
/Services/gRPCService/GatewayService/*/[Oo]bj/
/Services/gRPCService/GatewayService/*/[Oo]ut/
/Services/gRPCService/GatewayService/*/msbuild.log
/Services/gRPCService/GatewayService/*/msbuild.err
/Services/gRPCService/GatewayService/*/msbuild.wrn
