# Gradle files
AndroidApplication/.gradle/
AndroidApplication/build/
AndroidApplication/.idea/caches
AndroidApplication/.idea/libraries
AndroidApplication/.idea/modules.xml
AndroidApplication/.idea/workspace.xml
AndroidApplication/.idea/navEditor.xml
AndroidApplication/.idea/assetWizardSettings.xml


# Local configuration file (sdk path, etc)
AndroidApplication/local.properties

# Log Files
AndroidApplication/*.log

# Android Studio Navigation editor temp files
AndroidApplication/.navigation/

# Android Studio captures folder
AndroidApplication/captures/

#Services

Services/GraphQLService/node_modules
Services/gRPCService/node_modules

Services/GatewayService/.vscode
Services/GatewayService/.vs

# Build results
Services/GatewayService/*/[Dd]ebug/
Services/GatewayService/*/[Dd]ebugPublic/
Services/GatewayService/*/[Rr]elease/
Services/GatewayService/*/[Rr]eleases/
Services/GatewayService/*/x64/
Services/GatewayService/*/x86/
Services/GatewayService/*/build/
Services/GatewayService/*/bld/
Services/GatewayService/*/[Bb]in/
Services/GatewayService/*/[Oo]bj/
Services/GatewayService/*/[Oo]ut/
Services/GatewayService/*/msbuild.log
Services/GatewayService/*/msbuild.err
Services/GatewayService/*/msbuild.wrn
